.card-question {
    width: 60%;
}

.card-question .card-body  > a {
    margin-right: 10px;
} 

.card-question .card-body > form > label {
    display: block;
    font-weight: 700;
} 

.card-question .card-body > form > input {
    width: 600px;
}


div.container > div.card > div > a.btn.btn-primary {
    margin-right: 20px;
}
