.navbar {
    background-color: #2F1793 !important;
}

.navbar-brand {
    color: white;
    font-family: 'Abril Fatface', cursive;
    margin-left: 6%;
    letter-spacing: 3px;
}

.navbar-nav {
    margin: 0 25%;
}
.navbar-nav .nav-link {
    color: white;
    margin-left: 50px ;
}
.navbar-nav .nav-link:hover {
    color: orange;
}

#navbarNav > ul > li:nth-child(4) {
    margin-left: 200px;
}

.navLogin {
    margin-top: 4px;
}

.site-tilte {
    text-align: center;
    margin: 10px 0;
}