.login-container {
    margin-top: 5%;
    padding: 45px 60px;
    border-radius: 30px;
    width: 40%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.login-container > form >div > label {
    display: block;
    font-weight: 700;
    margin-left: 10px ;
}
.login-container > form >div > input[type=email] {
    width: 100%;
    height: 40px;
}
.login-container > form >div > input[type=password] {
    width: 100%;
    height: 40px;
}

.login-container button {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border-radius: 30px;
}